<%- include('header.ejs') %>

    <%
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    var due=days[data[0].dueDate.getDay()]+", "+ data[0].dueDate.getDate()+" " + months[data[0].dueDate.getMonth()] +" "+ data[0].dueDate.getFullYear() ;
       var type="";
    if(data[0].grading=='peer'){
       type="This is a peer-graded assignment."
   }
   else{
       type="This assignment will be graded by teacher."
   }%>

        <h1 class="mt-4">
            <%=data[0].title%>
        </h1>
        <div class="card mb-4">
            <div class="card-body">
                <%=data[0].description%>
            </div>
        </div>
        <h4 style="color: #7c7c7c;">Due date:
            <%=due%>
        </h4>
        </br>
        <h5>Total marks:
            <%=data[0].totalMarks%>
        </h5>
        </br>
        <h6 style="color: #dc3545; " ">Note:
            <%=type%>
                </h6>
                <hr>


                <div class="card mb-4 ">
                    <div class="card-header ">
                        <i class="fas fa-table mr-1 "></i> Submissions
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive ">
                            <table class="table table-bordered " id="dataTable " width="100% " cellspacing="0 ">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Solution</th>
                                        <th>Marks</th>
                                        <th>Update Marks</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <!--SHOW DATA FROM ASSIGNMENT OBJECT-->
                                    <!--loop thru length of attempted by -->
                                    <%
          
                    console.log("ATTEMPTED BY: " +students)
                    var attempts= data[0].attemptedBy;
                    attempts.forEach(function(attempt, i){%>
                                        <tr>
                                            <td>
                                                <%=students[i]%>
                                            </td>
                                            <!--print student's name -->
                                            <!--check if doc or mcq-->
                                            <%if(data[0].type=='doc'){%>
                                                <td> <a href="http://localhost:3000/assignment-teacher/<%=attempt.fileName%>">Download</a>
            </td>
            <!--download assignment-->
            <%} %>
                <%if(data[0].type=='mcq'){%>
                    <td>
                        <form action="/mcq-answers" method="POST">
                            <input name="assignID" value='<%=data[0].id%>' readonly hidden>
                            <input name="attemptID" value='<%=attempt._id%>' readonly hidden>
                            <button type="submit" class="btn btn-primary">View MCQs Response</button>
                        </form>
                    </td>
                    <!--link to mcq assignment-->
                    <%} %>
                        <form action="/assignment-teacher" method="POST">
                            <%if(attempt.marked===true){%>
                                <!--marks if marked-->
                                <td> <input type="text" name="totalmarks" class="form-control" value="<%=attempt.marks%>"> </td>
                                <%} %>
                                    <%if(attempt.marked===false){%>

                                        <td> <input type="text" name="totalmarks" class="form-control" placeholder="Enter marks"> </td>

                                        <!--input value if not marked-->
                                        <%} %>
                                            <input name=assign_id value='<%=data[0].id%>' readonly hidden>
                                            <input name=student_id value='<%=attempt.student%>' readonly hidden>
                                            <td> <button type="submit" class="btn btn-success">Update Marks</button></td>
                        </form>

                        </tr>

                        <%}) %>
                            </tfoot>
                            <tbody>

                                <tr>

                                </tr>
                                <tr>

                                </tr>
                                <tr>

                                </tr>
                            </tbody>
                            </table>



                            </div>
                            </div>

                            </div>
                            <h5 class="m-3 mb-4" style="color: #5c5c5c;">Assignment Questions:
                            </h5>


                            <% 
                            var ques= data[0].questions;
             ques.forEach(function(question, i){%>
                                <h5 class="m-3" style="color: #7c7c7c;">Question
                                    <%=i+1%>:
                                        <%=question["text"]%>
                                </h5>
                                <h6 class="m-3" style="color: #636363;">(Marks:
                                    <%=question.marks%>)
                                </h6>
                                <h6 class="m-3" style="color: #4dad6a;">Correct answer:
                                    <%=question.answer%>
                                </h6>

                                <%question.options.forEach(function(option, x){
                         if(option!=""){ %>
                                    <h6 class="m-3" style="color: #7c7c7c;">Other option:
                                        <%=option%>
                                    </h6>



                                    <%}%>
                                        <%})%>
                                            <!--ending inner for each-->
                                            <hr>
                                            <%})%>
                                                <!--ending outer foreach-->
                                                <% if(data[0].type=='doc')
                                                { 
                                                      <!-- var link= data[0].filePath.replace('\\','/') -->
                                                    %>
                                                    <a class="m-3 mb-4" href="http://localhost:3000/assignment-student/<%=data[0].fileName%>">Download Assignment</a>

                                                    <%}%>
                                                        <%- include('footer.ejs') %>