<%- include('header.ejs') %>


    <!--MAIN CONTENT-->
    <main>
        <!--ASSIGNMENT INFO PORTION-->
        <%      
              var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
              var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
              var due=days[data[0].dueDate.getDay()]+", "+ data[0].dueDate.getDate()+" " + months[data[0].dueDate.getMonth()] +" "+ data[0].dueDate.getFullYear() ;
                 var type="";
              if(data[0].grading=='peer'){
                 type="This is a peer-graded assignment."
             }
             else{
                 type="This assignment will be graded by teacher."
             }
             var attemptedBy=data[0].attemptedBy;
             var studentAttempt=false;
             var index;
             for(var i=0;i<attemptedBy.length;i++){
                 if(JSON.stringify(attemptedBy[i].student)===JSON.stringify(student)){
                     console.log("Yes attempted by student!")
                     studentAttempt=true;
                     index=i;
                     break;
                 }
             
             }
             %>
            <div class="container-fluid">
                <h1 class="mt-4">
                    <%=data[0].title%>
                </h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        <%=data[0].description%>
                    </li>
                </ol>


                </br>
                <h5>Due date:
                    <%=due%>
                </h5>
                </br>
                <h5>Total marks:
                    <%=data[0].totalMarks%>
                </h5>
                </br>
                <h6 style="color: #dc3545;">Note:
                    <%=type%>
                </h6>
                <hr>
                <!--SOLVE ASSIGNMENT PORTION-->

                <!--If DOC assignment-->
                <% if(data[0].type=='doc')
                         { 
                               <!-- var link= data[0].filePath.replace('\\','/') -->
                             %>
                    <h3>Assignment</h3>
                    <a href="http://localhost:3000/assignment-student/<%=data[0].fileName%>">Download Assignment</a>
                    <%}%>



                        <!--If MCQ assignment-->
                        <% if(data[0].type=='mcq') {%>
                            <!--IF ASSIGNMENT ATTEMPTED, DISABLE BUTTON-->
                            <% console.log("Student attempt -->"+studentAttempt)
                         if(studentAttempt==true){%>
                                </br>
                                <h5 style="color: #28a745;">You have already attempted the MCQ assignment!</h5>
                                </br>
                                <h6>Marks attained:
                                    <%=attemptedBy[index].marks%>
                                </h6>
                                </br>
                                <form action="/mcq-answers" method="POST">
                                    <input name="assignID" value='<%=data[0].id%>' readonly hidden>
                                    <input name="attemptID" value='<%=attemptedBy[index].id%>' readonly hidden>
                                    <button type="submit" class="btn btn-primary mt-2">View your MCQ Response</button>
                                </form>
                                <%}<!--end of if-->
                         else{%>
                                    <p>
                                        As soon as you click on the buttom below, the questions will be visible to you. Do NOT attempt to cheat as any tab/window change will be detected and reported to teacher.
                                    </p>
                                    <p>Only click the start button when you are ready to attempt the assignment. </p>
                                    <<<<<<< HEAD=======>>>>>>> 7f1b9089284b67cb287da6ee01d21eabfb0ac1e2
                                        <button id="start-mcq" type="button" class="btn pull-left btn-primary">Click to start MCQ
                             Assignment</button>
                                        </br>
                                        <%}%>
                                            <!--end of else-->
                                            <form id="mcq-form" action="/assignment-student" method="POST" enctype="multipart/form-data" style="visibility:hidden">
                                                <input type="hidden" name="reqType" value="mcq" />
                                                <h3>Multiple Choice Questions:</h3>
                                                </br>
                                                <%  var ques= data[0].questions;
                                 ques.forEach(function(question, i){
                                     question["options"].push( question["answer"]) 
                                     console.log("Ques: "+ question)%>
                                                    <h5>Question
                                                        <%=i+1%>:
                                                            <%=question["text"] %>
                                                    </h5>
                                                    <p>(Marks:
                                                        <%=question.marks%>)
                                                    </p>
                                                    <!--Options: Sort to shuffle options-->
                                                    <%var questions=question.options;
                                                questions.sort()%>
                                                        <%questions.forEach(function(option, x){
                                             if(option!=""){ %>
                                                            <input type="radio" name="<%=question._id%>" id="mcqOpt" value="<%=option%>">
                                                            <%=option%>
                                                                </br>
                                                                <%}%>
                                                                    <%})%>
                                                                        <!--ending inner for each-->
                                                                        </br>
                                                                        <%})%>
                                                                            <!--ending outer foreach-->
                                                                            </br>
                                                                            <div class="text-center">
                                                                                <input name="id" value='<%=id%>' readonly hidden>
                                                                                <input type="hidden" id="cheatingReport" name="report" value="" />
                                                                                <input type="hidden" name="courseName" value="<%=data[0].coursename%>" />
                                                                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                            </form>
                                            <<<<<<< HEAD=======>>>>>>> 7f1b9089284b67cb287da6ee01d21eabfb0ac1e2
                                                <%}%>

                                                    <!--If DOC assignment-->
                                                    <% if(data[0].type=='doc'){%>
                                                        <hr>
                                                        <!--IF ASSIGNMENT ATTEMPTED, DISABLE FORM-->
                                                        <% console.log("Student attempt -->"+studentAttempt)
                         if(studentAttempt==true){%>
                                                            </br>
                                                            <h5 style="color: #28a745;">You have already submitted the assignment!</h5>
                                                            </br>
                                                            <h6>Marks attained:
                                                                <%=attemptedBy[index].marks%>
                                                            </h6>
                                                            <%}<!--end of if-->
                         else{%>
                                                                <form action="/assignment-student" method="POST" enctype="multipart/form-data" id="upload-assign">
                                                                    <input type="hidden" name="reqType" value="upload" />
                                                                    <label class="control-label" for="file">Upload Assignment</label>
                                                                    <input type="file" class="form-control" name="file" id="uploadDoc">
                                                                    <input name="id" value='<%=id%>' readonly hidden>
                                                                    <input type="hidden" name="courseName" value="<%=data[0].coursename%>" />
                                                                    </br>
                                                                    <button type="submit" class="btn btn-primary  btn-sm pull-right">Upload</button>
                                                                </form>
                                                                <%}%>
                                                                    <%}%>
                                                                        </div>

    </main>

    <!--end of MAIN CONTENT-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        //CHECK TAB FOCUS ------- CHEATING PAKRNAY KAY LIYE HUEHUE
        $(document).ready(function() {
            localStorage.setItem("report", "");
            // Retrieve
            console.log(localStorage.getItem("lastname"));
            $("#start-mcq").on("click", startMCQ);

            function startMCQ() {
                $("#mcq-form").css({
                    "visibility": "visible"
                });
                document.addEventListener("visibilitychange", function() {
                    var d = new Date();
                    var current = document.getElementById('cheatingReport').value
                    console.log("Value of this html element---> " + current)
                    var x = "Switched to other window at " + d.toLocaleTimeString() + ". ";
                    var y = "Returned at " + d.toLocaleTimeString() + ". "
                    document.hidden ? current = current + x : current = current + y;
                    document.getElementById('cheatingReport').value = current;
                });
            }
        });
    </script>
    <!--FOOTER-->

    <%- include('footer.ejs') %>