<%- include('header.ejs') %>
    <%console.log("Attempt: "+ attempt)
    var answersInAttempt=attempt.answers
    console.log("AttemptedAns: "+ answersInAttempt)
    console.log("Questions: "+questions)%>
        <main>
            <div class="container-fluid">
                <h2 class="mt-4">
                    MCQ Submission
                    <hr>
                </h2>

                <!--print each question with correct option and corresponding answer by student-->
                <% questions.forEach(function(question, i){
      console.log("quesid: " +question["_id"])%>
                    <h5>Question
                        <%=(i+1)%>:
                            <%=question.text%>
                    </h5>
                    <h6>
                        (Marks:
                        <%=question.marks%>)
                    </h6>
                    <h6 style="color:  #28a745;">Correct answer:
                        <%=question.answer%>
                    </h6>
                    <% answersInAttempt.forEach(function(answer, i){ if(JSON.stringify(answer.question)==JSON.stringify(question["_id"])){
                      if(question.answer!=answer.answer) {%>
                        <h6 style="color: #dc3545;">Answer marked:
                            <%=answer.answer%>
                        </h6>
                        <%}else{%>
                            <h6 style="color:  #28a745;">Answer marked:
                                <%=answer.answer%>
                            </h6>
                            <%}%>
                                </br>
                                <%}})}) %>

                                    <!--print cheating report-->
                                    <h3>Report</h3>
                                    <% var report=attempt.report.split(". ").join("<br>"); %>
                                        <p>
                                            <%-report%>
                                        </p>
            </div>
        </main>
        <%- include('footer.ejs') %>