<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQs Report</title>
</head>
<body>

    <%console.log("Attempt: "+ attempt)
    var answersInAttempt=attempt.answers
    console.log("AttemptedAns: "+ answersInAttempt)
    console.log("Questions: "+questions)%>
  
    <h1>MCQs Response</h1>
    <!--print each question with correct option and corresponding answer by student-->
  <% questions.forEach(function(question, i){
      console.log("quesid: " +question["_id"])%>
    <h3>Question <%=(i+1)%>:  <%=question.text%></h3>
    <h4>Correct answer:  <%=question.answer%> </h4>
    <% answersInAttempt.forEach(function(answer, i){ if(JSON.stringify(answer.question)==JSON.stringify(question["_id"])){%>
        <h4>Answer marked:<%=answer.answer%> </h4>
       <%}})}) %> 

       <!--print cheating report-->
       <h3>Report</h3>
  <p><%=attempt.report%></p>
</body>
</html>