<!DOCTYPE html>
<head>
    <title>Peer-Grading</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
    crossorigin="anonymous">
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
    crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="styles/styles.css">
</head> 

<body class="peer-container">
    <div>
        <h1 style="margin:5px">Marking Scheme</h1>
        <div 
        style="
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        transition: 0.3s;"
        class="margin peer-container">
            
            <div>
                <label>Submitted Assignment:</label>
                <% let attempt=data[0].attemptedBy.find(e=>e.student!=id && e.marked==false)%>
                
                <a href="http://localhost:3000/peer-grading/<%=attempt.fileName%>">Download Assignment</a>
            </div>
            <h5>Follow the Marking Scheme and mark accordingly!</h5>
            <% data[0].markingScheme.forEach(function(criteria,i){%>
                <div class="peer col-sm">
                Q<%=i+1%> <%=criteria%>
                <input  type="checkbox" value="" id="defaultCheck1">
                </div>
            <%})%>
        </div>
        <form action="/peer-grading" method="POST">
        <div class="form-group peer">
            <h6 for="totalmarks">Marks/<%=data[0].totalMarks%></h6>
            <input type="text" name="totalmarks" class="form-control" 
            placeholder="Total Marks"> 
            
            <h6 style="margin:10px">The final marks may be changed by the instructor</h6>
            <input name=assign_id value='<%=data[0].id%>'readonly hidden>
            <input name=student_id value='<%=attempt.student%>'readonly hidden>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
        </form>

    </div>    
 
</body>